@import "tailwindcss";
@plugin "daisyui";

@keyframes successPop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  70% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animate-successPop {
  animation: successPop 0.35s ease-out forwards;
}
